<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
      <div class="sidebar-heading bg-success" routerLink="/dashboard">BR </div>
      <div class="seta-cor-sidebar">
        <div class="list-group list-group-flush">
          <a href="/formulario" class="list-group-item list-group-item-action">Formulário</a>
        </div>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg bg-success">
        <div class="container-fluid">
          <div class="container-fluid">
            <i class="pi pi-check" (click)="clickEvent()"></i>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" role="search" style="padding-right: 5%;">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown" dropdown>
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" style="cursor: pointer; text-transform: capitalize;">
                    </a>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </nav>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>